.product-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 40px;
    padding: 20px;
}

[class^="card-"] {
    background-color: #333;
    /* border: 1px solid #ddd; */
    box-shadow: 0px 0px 55px #0009;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    transition: transform 0.3s ease;
    color: white;
    /* margin-bottom: 20px; */
}


[class^="card-"]:hover {
    transform: scale(1.02);
}

[class^="card-"] img{
    width: 30%;
    float: right;
}

.product-cards h2{
    text-decoration: underline;
}

.product-cards h2, p{
    margin-bottom: 10px;
}

.buy-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 0.5rem;
    border: 1px solid #4CAF50;
    font-size: 15px;
    float: right;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.buy-btn:hover{
    transform: scale(1.07);
}

.buy-btn:active{
    background-color: #3e9142;
    transform: scale(1);
}

/* .container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr auto;
} */

